use_flake ./project/direnv#
source project/direnv/demo/autocomplete-plugin/main.bash

ln -sf ../../../settings.json project/direnv/.git/settings.json
ln -sf ../../../../exclude project/direnv/.git/info/exclude
ln -nsf ../.. project/direnv/dev-env
