main_worktree="$PWD/worktrees/main"

# Retain original shell so demo works
original_shell="$SHELL"
use_flake "$main_worktree"#
SHELL="$original_shell"
ln -sf ../../../settings.json "$main_worktree/.vscode/settings.json"
ln -sf ../../../../exclude "$main_worktree/.git/info/exclude"
ln -nsf ../.. "$main_worktree/dev-env"

# For demo
# NOTE: You can comment out the block above for faster loading
export REPO_ROOT="$main_worktree"
export XDG_DATA_DIRS="$main_worktree/demo/autocomplete-script${XDG_DATA_DIRS:+:$XDG_DATA_DIRS}"
source "$main_worktree/demo/autocomplete-plugin/main.bash"
