original_shell="$SHELL"
use_flake ./project/direnv#
SHELL="$original_shell"

ln -sf ../../../settings.json project/direnv/.vscode/settings.json
ln -sf ../../../../exclude project/direnv/.git/info/exclude
ln -nsf ../.. project/direnv/dev-env

# For demo
# NOTE: You can comment out everything above for faster loading
export XDG_DATA_DIRS="$PWD/project/direnv/demo/autocomplete-script${XDG_DATA_DIRS:+:$XDG_DATA_DIRS}"
source project/direnv/demo/autocomplete-plugin/main.bash
